@model Location

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<h2>title</h2>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Location</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="LocationName">LocationName</label>
                        <input class="form-control" placeholder="LocationName" asp-for="LocationName">
                        <span asp-validation-for="LocationName" class="text-danger"></span>
                        <div class="form-group">
                            <label asp-for="LocationAddress">LocationAddress</label>
                            <input class="form-control" placeholder="LocationAddress" asp-for="LocationAddress">
                            <span asp-validation-for="LocationAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LocationHours">LocationHours</label>
                            <input class="form-control" placeholder="LocationHours" asp-for="LocationHours">
                            <span asp-validation-for="LocationHours" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-controller="LocationCrud" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
