@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<section id="blog-detail-intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-content">
                        <h1>Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="blog-main-section">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-12">
<div class="blog-wrapper">
<div class="blog-image">
    <img src="https://xpressrow.com/html/cafena/cafena/assets/images/blog/blog-post-1.jpeg" alt="">
</div>
<ul class="info">
    <li>
        <a class="after" href="#0">
            <i class="fa fa-file"></i>
            Coffee
        </a>
    </li>
    <li>
        <a  class="after" href="#0">
            <i class="fa fa-comments"></i>
            30 Comments
        </a>
    </li>
    <li>
        <a href="#0">
            <i class="fa fa-calendar-alt"></i>
            04th March 2019
        </a>
    </li>
</ul>
<div class="blog-content">
    <h2 class="title mb-10">ideal cocktails from our barmen for pefect mood</h2>
    <p>For those of us who want to say thank you to our moms, it’s not always easy to put those big feelings in words. Which is where Dribbble comes in.</p>
    <p>These eight shots crystallize the hard work moms put into keeping their kids alive, happy, and healthy. They might give you the inspiration you need for filling out that card—or stand alone for your mom’s interpretation.</p>
    <p>Moms are the ones who bandage our boo-boos when we’re little and continue to take care of us as we get older—often sacrificing their own needs so they can help with ours. Cruising on a bike </p>
    <h3>Here come the moms in space</h3>
    <p>A supermarket worker was spat at by a customer attempting to stockpile Pot Noodles while another was told: “I hope you get the virus and die”, as panic-buying blighted the nations response to coronavirus pandemic.</p>
    <p>An eyewitness described the scene at a packed branch of Asda in the Wirral, Merseyside, on Saturday, as a man in his 30s attempted to buy more than the three Pot Noodles allowed by the </p>
    <h3>Here come the moms in space</h3>
    <p>The incident, which was raised in parliament by Labour MP Bill Esterson, was just one of the horrendous cases of abuse revealed by supermarket workers in recent days as some customers grow angry over restrictions and empty shelves.</p>
    <p>The doctor was exposed to the virus when the 38-year-old woman visited the clinic on March 12, the minister said. Five days later, she tested positive. That day, the doctor was also admitted in hospital.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </p>
</div>
<div class="tag-social">
    <div class="row">
        <div class="col-lg-6">
            <h4>Releted Tags</h4>
            <div class="tagcloud">
                <a href="#0">Popular</a>
                <a href="#0">Desgin</a>
                <a href="#0">UX</a>
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="float">Social Share</h4>
            <div class="social-share">
                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                <a href="#0"><i class="fab fa-twitter"></i></a>
                <a href="#0"><i class="fab fa-google-plus-g"></i></a>
                <a href="#0"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="navigation-border"></div>
    </div>
    <div class="col-lg-5">
        <div class="prev-post">
            <a href="#0"><span>Prev Post</span></a>
            <h4><a href="#0">Tips On Minimalist</a></h4>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="blog-filter text-left text-md-center">
            <a href="#0"><img src="https://xpressrow.com/html/cafena/cafena/assets/images/icons/filter.png" alt=""></a>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="next-post">
            <a href="#0"><span>Next Post</span></a>
            <h4><a href="#0">Less Is More</a></h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="navigation-border"></div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="related-post-heading">Related Post</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 related-post d-flex">
                <div class="col-lg-6">
                    <div class="related-post-image">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/blog/r-post-1.jpeg" alt="">
                    </div>
                    <div class="related-post-content">
                        <ul class="meta list-unstyled d-flex align-items-center">
                            <li><a href="#0"><i class="fa fa-calendar-alt"></i> 04th March 2019</a></li>
                        </ul>
                        <h2 class="title border-effect mb-15"><a href="blog-details.html">Watch: 10 Days Later: What
                                Italians Wish They Had Known</a>
                        </h2>
                        <p>A supermarket worker was spat at by a customer to stockpile..
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="related-post-image">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/blog/r-post-2.jpeg" alt="">
                    </div>
                    <div class="related-post-content">
                        <ul class="meta list-unstyled d-flex align-items-center">
                            <li><a href="#0"><i class="fa fa-calendar-alt"></i> 04th March 2019</a></li>
                        </ul>
                        <h2 class="title border-effect mb-15"><a href="blog-details.html">See all the best advice of
                                Bangladeshy.</a>
                        </h2>
                        <p>A supermarket worker was spat at by a customer to stockpile..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="author-box">
    <div class="author-image">
        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/author/author-1.jpeg" alt="">
    </div>
    <div class="author-content">
        <span>Written by</span>
        <h3 class="name">Rosalina D. Habdilan</h3>
        <p>Stephen Romero has worked a Italy Report since its launch in 2011. In the years since, he has led by example the company's tech news team and published over 5,000 articles...</p>
    </div>
</div>
<div class="comments-box">
    <h2 class="p-5">03 Comments</h2>
    <div class="latest-comments">
        <ul class="list-unstyled">
            <li>
                <div class="item-image">
                    <img src="https://xpressrow.com/html/cafena/cafena/assets/images/author/c-author-1.png" alt="">
                </div>
                <div class="item-text">
                    <h5>Rosalina Kelian</h5>
                    <span><i class="fa fa-calendar-alt"></i> 19th May 2018</span>
                    <a class="reply" href="#">
                        <i class="fa fa-reply"></i>
                        Reply
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <div class="col-lg-12">
                <div class="navigation-border"></div>
            </div>
            <li>
                <div class="item-image">
                    <img src="https://xpressrow.com/html/cafena/cafena/assets/images/author/c-author-2.png" alt="">
                </div>
                <div class="item-text">
                    <h5>Rosalina Kelian</h5>
                    <span><i class="fa fa-calendar-alt"></i> 21th May 2018</span>
                    <a class="reply" href="#">
                        <i class="fa fa-reply"></i>
                        Reply
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
            <div class="col-lg-12">
                <div class="navigation-border"></div>
            </div>
            <li>
                <div class="item-image">
                    <img src="https://xpressrow.com/html/cafena/cafena/assets/images/author/c-author-3.png" alt="">
                </div>
                <div class="item-text">
                    <h5>Rosalina Kelian</h5>
                    <span><i class="fa fa-calendar-alt"></i> 25th May 2018</span>
                    <a class="reply" href="#">
                        <i class="fa fa-reply"></i>
                        Reply
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="comments-form">
    <div class="col-lg-12">
        <div class="navigation-border"></div>
    </div>
    <h2 class="title">Post Comments</h2>
    <form class="form" action="#">
        <div class="row">
            <div class="col-lg-12 d-flex">
                <input  class="input" type="text" placeholder="Your Comments...">
                <i class="fa fa-pen"></i>
            </div>
            <div class="col-lg-12 d-flex">
                <input  type="text" placeholder="Your Name.... ">
                <i class="fa fa-user"></i>
            </div>
            <div class="col-lg-12 d-flex">
                <input  type="text" placeholder="Your Email.... ">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="col-lg-12 d-flex">
                <input  type="text" placeholder="Your Website.... ">
                <i class="fa fa-globe"></i>
            </div>
            <div class="col-lg-12">
                <button class="site-btn mt-10 d-flex" type="submit"><i class="fa fa-comments"></i> Post
                    comment</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12">
    <div class="blog-sidebar">
        <div class="search-box">
            <h2>Search Here</h2>
            <form action="index.html" class="search-widget">
                <input type="search" name="search" id="search" placeholder="Serach Product">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="category-side">
            <h2>Categories</h2>
            <ul>
                <li><a href="#">Burger</a> <span>04</span></li>
                <li><a href="#">2x Pizza</a> <span>06</span></li>
                <li><a href="#">Cold Drinks</a> <span>08</span></li>
                <li><a href="#">Chicken</a> <span>10</span></li>
                <li><a href="#">Stuck Dish</a> <span>12</span></li>
            </ul>
        </div>
        <div class="category-box">
            <h2 class="title">Categories</h2>
            <div class="category-items">
                <div class="category-item">
                    <div class="item-image">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/blog/recent-posts/b-sm-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5><a href="blog-detail.html">10 Reasons To Do A Digital Detox Challenge</a></h5>
                        <a href="#" class="date"><i class="fa fa-calendar-alt"></i>  24th March 2021</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="item-image">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/blog/recent-posts/b-sm-2.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5><a href="blog-detail.html">10 Reasons To Do A Digital Detox Challenge</a></h5>
                        <a href="#" class="date"><i class="fa fa-calendar-alt"></i>  24th March 2021</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="item-image">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/blog/recent-posts/b-sm-3.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5><a href="blog-detail.html">10 Reasons To Do A Digital Detox Challenge</a></h5>
                        <a href="#" class="date"><i class="fa fa-calendar-alt"></i>  24th March 2021</a>
                    </div>
                </div>
                <div class="category-item">
                    <div class="item-image">
                        <img src="https://xpressrow.com/html/cafena/cafena/assets/images/blog/recent-posts/b-sm-4.png" alt="">
                    </div>
                    <div class="item-content">
                        <h5><a href="blog-detail.html">10 Reasons To Do A Digital Detox Challenge</a></h5>
                        <a href="#" class="date"><i class="fa fa-calendar-alt"></i>  24th March 2021</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-tag">
            <h2 class="title">Popular Tag</h2>
            <div class="tagcloud">
                <a href="#">Design</a>
                <a href="#">Web Design</a>
                <a href="#">Brand</a>
                <a href="#">Ui/Ux</a>
                <a href="#">NNC</a>
                <a href="#">Design</a>
                <a href="#">Construction</a>
                <a href="#">Web Design</a>
                <a href="#">Design</a>
                <a href="#">Theme</a>
                <a href="#">App</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>

