#contact-area{
    .shapes{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
    }
    .container{
        margin-top: 50px;
        .row{
            .contact-wrapper{
                // width: 100%;
                // height: 100%;
                position: relative;
                z-index: 2;
                padding: 80px 75px;
                border: 1px solid #E2DFDD;
                // box-shadow: 0px 14px 40px 0px rgb(220 220 220 / 30%);
                background: #ffffff;
                .contact-info{
                    display: flex;
                    gap: 30px;
                    .info-icon{
                        max-width: 80px;
                        height: 70px;
                        border: 1px solid #E2DFDD;
                        border-radius: 10px;
                        text-align: center;
                        padding: 20px;
                        
                    }
                    .contact-content{
                        .title{
                            font-size: 24px;
                            margin-bottom: 5px;
                        }
                        a{
                            color: #737373;
                            font-size: 15px;
                            text-decoration: none;
                            line-height: 24px;  
                        }
                        p{
                            color: #737373;
                            font-size: 15px;
                        }
                    }
                }
                .row{
                    .contact-form{
                        padding-top: 50px;
                        flex-wrap: wrap;
                        .form-item{
                            padding-left: 18px;
                            input{
                                border: 1px solid #E2DFDD;
                                font-size: 15px;
                                padding: 12px 20px;
                                width: 100%;
                                background: #ffffff;
                                border-radius: 5px;
                            }
                        }
                        .subject{
                            padding-top: 40px;
                        }
                        .message{
                            padding-top: 40px;
                            input{
                                min-height: 160px;
                                border: 1px solid #E2DFDD;
                                font-size: 15px;
                                padding: 12px 20px;
                                width: 100%;
                                background: #ffffff;
                                border-radius: 5px;
                            }
                        }
                        button{
                            font-size: 12px;
                            text-transform: uppercase;
                            color: #ffffff;
                            letter-spacing: 2px;
                            background: #C7A17A;
                            padding: 10px 34px;
                            text-decoration: none;
                            border-radius: 5px;
                            z-index: 1;
                            border: 1px solid #C7A17A;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
#contact-map{
    padding-top: 54px;
    .col-lg-12{
        height: 100%;
    }
    .map{
        width: 100%;
        height: 100%;
    }
}