#story{
    .container{
        // overflow: hidden;
        .row{
            max-width: 110%;
            height: 100%;
            .left-part{
                background-image: url(https://images.getbento.com/accounts/5ca2078a79c56e7928b7d8fd198fc585/media/images/71532background33x-100.jpg?w=1800&fit=max&auto=compress,format&h=1800);
                background-size: 720px !important;
                height: 100% !important;
                background-repeat: no-repeat;
                .story-image{
                    max-width: 70%;
                    height: 70%;
                    border-radius: 50px;
                    border-style: solid;
                    border-width: 1rem;
                    border-image: url(https://images.getbento.com/accounts/5ca2078a79c56e7928b7d8fd198fc585/media/images/99265Border.png) 50 50 round;
                    background-color: #fff;
                    text-align: center;
                    transform: translateX(100px);
                    margin-top: 120px;
                    img{
                        transform: translateY(50px);
                        padding-right: 10px;
                        max-width: 85%;
                        max-height:85%;
                        padding-left: 19px;
                    }
                }
            }
            .right-part {
                background-image: url(https://images.getbento.com/accounts/5ca2078a79c56e7928b7d8fd198fc585/media/images/71532background33x-100.jpg?w=1800&fit=max&auto=compress,format&h=1800);
                background-size: 720px !important;
                height: 100% !important;
                background-repeat: no-repeat;
                position: relative;
                .story-content{
                    max-width: 70%;
                    height: 60%;
                    border-radius: 50px;
                    border-style: solid;
                    border-width: 1rem;
                    border-image: url(https://images.getbento.com/accounts/5ca2078a79c56e7928b7d8fd198fc585/media/images/99265Border.png) 50 50 round;
                    background-color: #fff;
                    text-align: center;
                    top: 50%;
                    transform: translateY(50px);
                    margin-top: 120px;
                    padding: 20px;
                    h2{
                        font-family: "Archer-Book";
                        color: #000;
                        text-transform: uppercase;
                        font-size: 45px;
                        font-weight: 100;
                    }
                    p{
                        font-family: "Archer_Light_Pro";
                        font-size: 18px;
                        line-height: 30px;
                        color: rgb(41, 41, 41);
                        font-weight: 300;
                        letter-spacing: -.5px;
                        display: block;
                        text-align: center;
                    }
                    .btn-brand {
                        font-family: "Gotham_Light";
                        color: #000;
                        background-color: #FBE66F;
                        border-color: #FBE66F;
                        float: right;
                        transition: all .2s ease-in-out 0s;
                        &:hover{
                            color: #000;
                            background-color: #CBE8F7;
                            border-color: #CBE8F7;
                        }
                    }
                }
            }
        }
    }
}