#featured{
    .container{
        .row{
            .col-lg-4{
                text-align: center;
            }
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            h2{
                color: var(--headerFontColor,#005f98);
                font-family: var(--headerFontFamily);
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0;
                text-transform: uppercase;
                margin-bottom: 32px;
                line-height: 1;
                text-align: center;
            }
            .featured-item{
                width: 100%;
                height: 100%;
                img{
                    box-shadow: 1px 0 19px -8px #666;
                    border-radius: 30px;
                    width: 405px;
                    height: 100%;
                }
            }
            .carousel{
                // text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 40px;
                .arrow-prev{
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 0;
                    height: 0;
                    padding: 0;
                    cursor: pointer;
                    color: #000;
                    border: none;
                    outline: 0;
                    background: 0 0;
                    &::before{
                        color: #005f98;
                        font-size: 1.875rem;
                        font-weight: 500;
                        content: "<";
                    }
                }
                .arrow-next{
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 0;
                    height: 0;
                    padding: 0;
                    cursor: pointer;
                    color: #000;
                    border: none;
                    outline: 0;
                    background: 0 0;
                    padding-left: 13px;
                    &::before{
                        color: #005f98;
                        font-size: 1.875rem;
                        font-weight: 500;
                        content: ">";
                    }
                }
                ul{
                    display: flex;
                    gap: 10px;
                    li{
                        padding-top: 19px;
                        list-style: none;
                        button{
                            background: 0 0;
                            font-size: 0;
                            line-height: 0;
                            display: block;
                            width: 12px;
                            height: 12px;
                            padding: 0;
                            cursor: pointer;
                            color: #fff;
                            border: 0;
                            outline: 0;
                            &::before{
                                background: #005f98;
                                font-size: 2.625rem;
                                color: #fff;
                                // opacity: .3;
                                line-height: 1;
                                display: block;
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                content: "";
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}