@model C_upsB.ViewModels.HomeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section id="featured">
        <div class="container">
            <div class="row">
                <h2>Featured</h2>
                    <div class="col-lg-4 col-md-12">
                        <a href="">
                            <div class="featured-item">
                                <img src="https://www.dutchbros.com/sites/default/files/styles/drink_tile/public/2022-05/22_t2_web_featured%20menu__High%20Dive%20Rebel.webp?itok=isX9vRW9" alt="featured product">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="">
                            <div class="featured-item">
                                <img src="https://www.dutchbros.com/sites/default/files/styles/drink_tile/public/2022-05/22_t2_web_featured%20menu__High%20Dive%20Lemonade_0.webp?itok=IlGBNBwx" alt="featured product">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="">
                            <div class="featured-item">
                                <img src="https://www.dutchbros.com/sites/default/files/styles/drink_tile/public/2022-05/22_t2_web_featured%20menu__Oat%20Milk%20Cocomo.webp?itok=E8nsmC_0" alt="featured product">
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </section>
    <section id="full-menu">
        <div class="container">
            <div class="row">
                <h2>Full menu</h2>
                @foreach (var category in Model.Categories)
                {
                    <div class="drink col-md-12">
                        <a asp-controller="Drink" asp-action="Index" asp-route-id="@category.Id">
                            <div class="drink-image">
                                <img src="~/images/@category.Image" alt="">
                                <div class="frame">
                                </div>
                            </div>
                            <div class="drink-name">
                                <h3>@Html.Raw(category.Name)</h3>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
