#menu{
    .container{
        .row{
            .header-text{
                h2{
                    color: #005f98;
                    font-size: 3.75rem;
                    line-height: 80px;
                    text-align: center;
                    text-transform: uppercase;
                    padding-top: 50px;
                }
            }
            a{
                text-decoration: none;
                .category{
                    text-align: center;
                    img{
                        max-width: 100%;
                        transition: .2s;
                    }
                    &:hover{
                        img{
                            transform: scale(.95);
                        }
                    }
                    h2{
                        font-size: 3.125rem;
                        color: #005f98;
                        text-transform: uppercase;
                    }
                }
            }
            .see-full-menu{
                text-align: center;
                margin-top: 55px;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                    font-family: futura-pt,sans-serif;
                    border: 2px solid #005f98;
                    background-color: #005f98;
                    padding: 18px;
                    border-radius: 40px;
                    text-transform: uppercase;
                    transition: all .2s;
                    &:hover{
                        border: 2px solid #154167;
                        background: #154167 radial-gradient(circle,transparent 1%,#154167 1%) center/15000%;
                    }
                }
            }
        }
    }
}