#reservation-area{
    .shapes{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
    }
    .container{
        .reservation-wrapper{
            margin-top: 100px;
            border: 1px solid #E2DFDD;
            border-radius: 10px;
            padding: 60px;
            background: #ffffff;
            z-index: 2;
            position: relative;
            .title{
                text-align: center;
                font-size: 45px;
                text-transform: uppercase;
            }
            .reservation-form{
                input{
                    background: #ffffff;
                    font-weight: 500;
                    padding: 19px 20px;
                    color: #9e9e9e;
                    border-radius: 5px;
                    font-size: 15px;
                    width: 100%;
                    border: 1px solid #32323D;
                }
                select{
                    background: #ffffff;
                    font-weight: 500;
                    padding: 19px 20px;
                    color: #9e9e9e;
                    border-radius: 5px;
                    font-size: 15px;
                    width: 100%;
                    border: 1px solid #32323D;
                }
                .form-item{
                    margin-top: 30px;
                }
                button{
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #ffffff;
                    letter-spacing: 2px;
                    background: #C7A17A;
                    padding: 10px 34px;
                    text-decoration: none;
                    border-radius: 5px;
                    z-index: 1;
                    border: 1px solid #C7A17A;
                    font-weight: 500;
                }
            }
        }
    }
}