.search-popup{
    visibility: hidden;
    .search-form{
        height: 347px;
        opacity: 1;
        padding: 100px 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 900;
        text-align: center;
        h3{
            color: #000;
            margin: 0 0 40px;
            opacity: .3;
            font-size: 48px;
        }
        .input-search{
            width: 100%;
            position: absolute;
            input{
                max-width: 60%;
                padding-left: 15px;
                padding-right: 35px;
                border-color: #ccc;
                height: 50px;
                font-size: 14px;
                color: #999;
                background: #fff;
                border: 1px solid #ccc;
                box-sizing: border-box;
                line-height: 44px;
                padding: 0 10px;
                vertical-align: baseline;
                width: 100%;
                box-shadow: none !important;
            }
            button{
                opacity: 1;
                background: 0 0;
                border: 0;
                position: relative;
                right: 2%;
                line-height: 55px;
                font-size: 16px;
            }
        }
    }
}
.search-active{
    visibility: visible !important;
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}

.register-header{
    padding-top: 190px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    .change-form{
        a{
            font-size: 24px;
            padding: 0 20px;
            cursor: pointer;
            pointer-events: auto;
            color: #999;
            text-decoration: none;
            &:hover{
                color: #ee5827;
            }
        }
    }
    .login-form-header{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 50px;
        .login-box{
            input{
                background: #fff;
                border: 1px solid #ccc;
                box-sizing: border-box;
                line-height: 44px;
                padding: 0 10px;
                vertical-align: baseline;
                width: 30%;
                color: #000;
                box-shadow: none !important;
            }
            .actions-toolbar{
                padding-top: 50px;
                display: flex;
                justify-content:center;
                align-items:center;
                gap: 170px;
                button{
                    width: 100%;
                    font-size: 16px;
                    background: #ee5827;
                    color: #fff;
                    font-weight: 500;
                    box-shadow: none;
                    border: 1px solid transparent;       
                    height: 50px;
                    line-height: 50px;
                    padding: 0 25px;
                    text-align: center;
                    text-transform: uppercase;         
                }
                a{
                    text-decoration: none;
                    color: black;
                    transition: all 0.5s;
                    &:hover{
                        color: #ee5827;
                    }
                }
            }
        }
        .closed-login{
            margin-top: 30px;
            display: block;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #ee5827;
            text-transform: uppercase;
            width: 100%;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .register-form-header {
        margin-top: 50px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        .register-box{
            form{
                display: flex;
            flex-direction: column;
            gap: 10px;
            }
            input{
                background: #fff;
                border: 1px solid #ccc;
                box-sizing: border-box;
                line-height: 44px;
                padding: 0 10px;
                vertical-align: baseline;
                width: 30%;
                color: #000;
                box-shadow: none !important;
            }
            .actions-toolbar{
                padding-top: 50px;
                display: flex;
                justify-content:center;
                align-items:center;
                gap: 170px;
                button{
                    font-size: 16px;
                    background: #ee5827;
                    color: #fff;
                    font-weight: 500;
                    box-shadow: none;
                    border: 1px solid transparent;       
                    height: 50px;
                    line-height: 50px;
                    padding: 0 25px;
                    text-align: center;
                    text-transform: uppercase;         
                }
            }
            .closed-login{
                margin-top: 30px;
                display: block;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 1px;
                color: #ee5827;
                text-transform: uppercase;
                width: 100%;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
.register-active{
    overflow-y: auto !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 900 !important;
    max-height: 1500px !important;
    transition: all 0.5s ease-in-out !important;
}
.overlay-menu{
    .left-side{
        line-height:12px;
        padding-left: 20px;
        .page-header{
            color: #ee5827;
            font-size: 40px;
        }
        .page-header-text{
            color: #ee5827;;
            padding-left: 60px;
            font-size: 20px;
        }
    }
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    visibility: hidden;
    transition: transform .5s,visibility 0s .5s;
    .overlay-close{
        width: 80px;
        height: 80px;
        position: absolute;
        right: 30px;
        top: 30px;
        overflow: hidden;
        border: none;
        background: url(https://www.couvee.co.id/wp-content/themes/couvee/assets/images/cross.png) no-repeat center center;
        text-indent: 200%;
        color: transparent;
        outline: 0;
        z-index: 100;
    }
    .menu-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .menu-container{
            ul{
                display: flex;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;   
                gap: 40px;
                li{
                    text-align: center;
                    a{
                        text-decoration: none;
                        font-size: 30px;
                        color: #242424;
                        text-transform: uppercase;
                        &:hover{
                            color: #c8a27a;
                        }
                    }
                }
            }
        }
    }
}
.menu-opened{
    visibility: visible;
    transition: transform .5s ease;
    transition: visibility .5s ease;
}

.basket-box {
    visibility: hidden;
    // display: block !important;
    width: 475px;
    background-color: #fff;
    position: fixed;
    right: 0px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    color: #aaa;
    z-index: 9996;
    text-align: left;
    transition: all .3s ease;
    display:flex;
    flex-direction:column;
    .close-box{
        padding: 50px;
        i{
            font-size: 50px;
            color: #999;
            text-align: center;
            display: block;
        }
    }
    .no-item{
        font-size: 14px;
        padding-left: 50px;
    }
    .empty-cart{
        padding: 0 50px;
        text-align: center;
        margin-top: 100px;
        a{
            width: 100%;
            height: 100%;
            border-color: #ee5827;
            color: #fff;
            background-color: #ee5827;
            font-size: 14px;
            line-height: 50px;
            padding-left: 120px;
            padding-right: 120px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-transform: uppercase;
            border-width: 1px;
            border-style: solid;
            text-decoration: none;
            text-align: center;
        }
    }
}
.basket-opened{
    visibility: visible;
    &::after{
        background: rgba(0, 0, 0, .5);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 67%;
        z-index: 999;
    }
}
